/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * ScopaGM implementation : © Giuseppe Madonia <tgiuseppe94@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * scopagm.css
 *
 * ScopaGM stylesheet
 *
 */

/* Note: you must not use any @import directive */

.dealericon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url('img/dealer-icon.png');
}

.generalcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.board {
    position:relative;
    width: 550px;
    height: 400px;
    margin-left: 10px;
    background-image: url(img/green_mat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.boardcards {
    top: 10%;
}

.mydeck {
    position: absolute;
    width: 108px;
    height: 72px;
    bottom: 10px;
    right: 10px;
    background-image: url(img/deck-rotated.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
}

.nbrdeck {
    position: absolute;
    width: 48px;
    top: 31px;
    left: 56px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
}

#myhand_wrap {
    width: 235px;
    margin-left: 150px;
    text-align: center;
}

.scopatable {
    margin-left: 10px;
    width: 400px;
}

.scopatablecards {
    position: relative;
    height: 101px;
}

.bordered-card {
    border: 1px solid black !important;
}