/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * ScopaGM implementation : © Giuseppe Madonia <madonia.giuseppe8@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * scopagm.css
 *
 * ScopaGM stylesheet
 *
 */

/* Note: you must not use any @import directive */

.generalcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.board {
    position:relative;
    width: 550px;
    height: 400px;
    margin-left: 10px;
    background-image: url(img/green_mat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.boardcards {
    top: 25%;
}

#myhand_wrap {
    width: 235px;
    margin-left: 150px;
    text-align: center;
}

.scopazone {
    margin-left: 10px;
    width: 400px;
}

.scopazonecards {
    position: relative;
    height: 101px;
}